.footer__column-links {
  margin: 20px 0px 16px;
  list-style-type: none;
  padding: 0;
  color: white;
  text-decoration: none;
}

a.footer__column-links:hover {
  opacity: .4;
  transition: opacity .2s linear;
}
